[run]
patch = subprocess
branch = True
source = src/nrobo
disable_warnings = no-data-collected
omit =
    */__init__.py
    */venv/*
    */.venv/*
    */node_modules/*
    */backup/*
    */selenium_wrappers/*
    build_and_publish.py

[report]
show_missing = True
skip_covered = True
