allure-pytest==2.15.2
allure-python-commons==2.15.2
Appium-Python-Client==5.2.4
attrs==25.4.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
colorlog==6.10.1
coverage==7.12.0
execnet==2.1.2
h11==0.16.0
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
-e git+ssh://git@github.com/pancht/nrobo.git@b4d54ad296ed79c91e738f478caac44fd236c2cf#egg=nrobo
outcome==1.3.0.post0
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
PySocks==1.7.1
pytest==9.0.1
pytest-cov==7.0.0
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-mock==3.15.1
pytest-xdist==3.8.0
python-dotenv==1.2.1
PyYAML==6.0.3
requests==2.32.5
rich==14.2.0
selenium==4.38.0
shellingham==1.5.4
sniffio==1.3.1
sortedcontainers==2.4.0
termcolor==3.2.0
tomlkit==0.13.3
trio==0.32.0
trio-websocket==0.12.2
typer==0.20.0
typing_extensions==4.15.0
urllib3==2.5.0
webdriver-manager==4.0.2
websocket-client==1.9.0
wsproto==1.3.2
